<!DOCTYPE html>
<html>
<head>
  <title>Layout2</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navcontainer">
		<div class="navbar">
		    <div class="navelement" id="logo"><%= link_to "OurBull", root_path %></a></div>
		    <div class="navelement"><%= link_to "Books", root_path %></a></div>
		    <div class="navelement"><%= link_to "Post New", '#' %></a></div>
		    <div class="navelement" id="user"><%= link_to "Sign In", '#' %></a></div>
	  	</div>

	</div>

<%= yield %>

</body>
</html>
